p{
	color: #000;
	line-height: 25px;
}

h2,h3{
	color: #000;
}

h2{
	font-size: 18px;
}
footer{
	display: inline-block;
}

.footer-top{
	background: #000;
	padding: 80px 0;
}

.segment-one h3{
	color: #000;
	letter-spacing: 3px;
	margin: 10px 0;
}

.segment-two h2{
	color: #000;
	text-transform: uppercase;
}

.segment-two h2:before{
	content: '|';
	color:#da4357;
	padding-right: 10px;
}

.segment-two ul{
	margin: 0;
	padding: 0;
	list-style:none;
}

.segment-two ul li{
	border-bottom: 1px solid rgba(218, 67, 87, 1);
	line-height: 40px;
}

.segment-two ul li a{
	color: #000;
	text-decoration: none;
}

.segment-three h2{
	color: #000;
	text-transform: uppercase;
}
.segment-three a{
	background: #494848;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
}

.segment-three a i{
	font-size: 20px;
	color: #fff;
	padding: 10px 12px;
}

.segment-three h2:before{
	content: '|';
	color:#da4357;
	padding-right: 10px;
}

.segment-four h2{
	color: #000;
	text-transform: uppercase;
}

.segment-four h2:before{
	content: '|';
	color:#da4357;
	padding-right: 10px;
}

.segment-four form input[type=submit] {
	background: #da4357;
	border: none;
	padding: 3px 15px;
	margin-left: -5px;
	color: #000;
	text-transform: uppercase;	
}



@media only screen and (min-width: 768px) and (max-width: 991px){
	.md-mb-30{
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 767px){
	.sm-mb-30{
		margin-bottom: 30px;
	}
	.footer-top{
		padding: 50px 0;
	}
}